body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    background: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience .head {
    font-size: 60px;
    text-align: center;
}

.experience .flexible-container .half-width {
    width: 40%;
    box-shadow: 5px 5px 30px 0 gray;
    margin: auto;
    padding: 20px;
}

.ex-left {

    border-left: 6px solid tomato;
}

.ex-right {
    border-left: 6px solid blue;
}

.experience h1 {
    font-size: 40px;
}

p {
    text-align: justify;
}

footer {
    text-align: center;
}